body {
	min-width: 320px;
	background-color: #ffffff;
}

img {
	max-width: 100%;
	height: auto;
}

a {
	text-decoration: none;
	cursor: pointer;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

button {
	cursor: pointer;
	outline: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

input,
textarea,
label {
	cursor: pointer;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
